{% load static %}
<link rel="stylesheet" href="{% static 'assets2/css/css-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-flaticon.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-remixicon.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-meanmenu.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-animate.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-metismenu.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-editor.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-style.css' %}">
<link rel="stylesheet" href="{% static 'assets2/css/css-responsive.css' %}">
<div class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget style-two">
                    <a href="index.html">
                    </a>

                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
            
            </div>

            <div class="col-lg-2 col-sm-6">
                
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two">
                    
                   
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget style-two">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br> <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-shape">
        <img src="{% static 'assets2/images/images-footer-shape.png' %}" alt="Image">
    </div>
</div>

<script src="{% static 'assets2/js/js-bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets2/js/js-meanmenu.min.js' %}"></script>
<script src="{% static 'assets2/js/js-owl.carousel.min.js' %}"></script>
<script src="{% static 'assets2/js/js-form-validator.min.js' %}"></script>
<script src="{% static 'assets2/js/js-contact-form-script.js' %}"></script>
<script src="{% static 'assets2/js/js-ajaxchimp.min.js' %}"></script>
<script src="{% static 'assets2/js/js-metismenu.js' %}"></script>
<script src="{% static 'assets2/js/js-editor.js' %}"></script>
<script src="{% static 'assets2/js/js-like-dislike.min.js' %}"></script>
<script src="{% static 'assets2/js/js-custom.js' %}"></script>
