{% extends 'base.html' %}
{% load static %}

{% block content %}

<style></style>
<div class="main-content-area ptb-100">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3">
                {% include 'blog/blogsidebar.html' %}

            </div>
<div class="col-lg-6">
    <div class="middull-content">
    {% include 'blog/ask.html' %}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="recent-questions" role="tabpanel" aria-labelledby="recent-questions-tab">
       
            <form class="user-form" enctype="multipart/form-data"  method="POST" action="{% url 'edit_question' id  %}">
                {% csrf_token %}
                {{ form.media }}

                {{ form.as_p }}
                <div class="col-12">
                    <button class="default-btn" type="submit">
                      Edit  Post Anonymously
                    </button>
                </div>

            </form>
            </div>
        </div>
        </div>
    </div>

</div>


    {% include 'blog/blogsecondsidebar.html' %}

        </div>
    </div>
</div>


{% endblock content %}